<div class="p-4 h-full">
  <div class="text-xl font-bold mb-2 mt-5">Sales & Management</div>
  <ul class="space-y-2 pt-8">
    <li
      routerLink="/dashboard"
      routerLinkActive="bg-orange-500 text-white"
      class="flex items-center gap-3 hover:bg-orange-500 hover:text-white p-2 rounded-lg cursor-pointer pl-4"
    >
      <i class="pi pi-home"></i>
      <p class="text-lg font-medium">Dashboard</p>
    </li>
    <li
      class="flex items-center gap-3 hover:bg-orange-500 hover:text-white p-2 rounded-lg cursor-pointer pl-4"
      (click)="toggleProductsDropdown()"
    >
      <i class="pi pi-box"></i>
      <p class="text-lg font-medium">Products</p>
      <i
        *ngIf="showProductsDropdown; else downArrow"
        class="ml-auto pi pi-chevron-up"
      ></i>
      <ng-template #downArrow>
        <i class="ml-auto pi pi-chevron-down"></i>
      </ng-template>
    </li>
    <div
      *ngIf="showProductsDropdown"
      [@dropdownAnimation]
      class="overflow-hidden"
    >
      <li
        routerLink="/categories"
        routerLinkActive="bg-orange-500 text-white"
        class="flex items-center gap-3 hover:bg-orange-500 hover:text-white p-2 rounded-lg cursor-pointer pl-6"
      >
        <i class="pi pi-tags"></i>
        <p class="text-lg font-medium">Categories</p>
      </li>
      <li
        routerLink="/providers"
        class="flex items-center gap-3 hover:bg-orange-500 hover:text-white p-2 rounded-lg cursor-pointer pl-6"
      >
        <i class="pi pi-truck"></i>
        <p class="text-lg font-medium">Providers</p>
      </li>
      <li
        routerLink="/products"
        class="flex items-center gap-3 hover:bg-orange-500 hover:text-white p-2 rounded-lg cursor-pointer pl-6"
      >
        <i class="pi pi-sitemap"></i>
        <p class="text-lg font-medium">Products</p>
      </li>
    </div>
    <li
      routerLink="/sales"
      class="flex items-center gap-3 hover:bg-orange-500 hover:text-white p-2 rounded-lg cursor-pointer pl-4"
    >
      <i class="pi pi-shopping-cart"></i>
      <p class="text-lg font-medium">Sales</p>
    </li>
    <li
      routerLink="/reports"
      class="flex items-center gap-3 hover:bg-orange-500 hover:text-white p-2 rounded-lg cursor-pointer pl-4"
    >
      <i class="pi pi-chart-bar"></i>
      <p class="text-lg font-medium">Reports</p>
    </li>
  </ul>
</div>
